/* .App {
  text-align:justify;
} */

.App-logo {
  height: 5vmin;
  pointer-events: none;
  display: inline-block;
}
.App-logo h4 {
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  height: 80px;
}

.App-content img {
  height: 3vmin;
}
.App-content{
  justify-content: center;
  display: flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.container {
  text-align: center;
}
ul.listTask {
  display: inline-block;
  text-align: left;
  
}